<!DOCTYPE html>
<html>
<head>
    <title>Login - Cloud Bus Pass System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Login</h1>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST" action="/login">

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
            >

            <button type="submit">Login</button>

        </form>

        <p>Don't have an account?</p>

        <a href="/register">Register here</a>

        <br><br>

        <a href="/">Back to Home</a>

    </div>

</body>
</html>